# WAY OF THE PYTHON

_Welcom to My first Jupyter Notebook!!
I will use this notebook as a learnig area so if you see
any crappy code you shitweasels can teach me or just learn 
to deal with it:)_
This notebook is written according to "w3schools python 3"

## Chapter 1: Getting Started

`print()` _prints the object in the standard output device_

In [1]:
print("Hello World")

Hello World

##### IMPORTANCE OF INDENTATION!!!

In [2]:
if 3 > 1:
    print("correct")

correct

In [7]:
if 3 > 1:
print("correct")

IndentationError: expected an indented block (<ipython-input-7-ecf1df837c45>, line 2)

_As you can see above indentation is very important in python.._

In [2]:
if 3 > 1:
    print("astrid")
        print("vex")

IndentationError: unexpected indent (<ipython-input-2-a527e833ce29>, line 3)

**You must use at least one space !!
All arguments must have same number of spaces at one code block**

##### COMMENTS

_You can use # and """ operators for commenting.
Comments is the important part of programming do 
not hesitate add comments to your code ı am not gonna use
so much in this notebook beacuse it is a  notebook
not a project._

In [6]:
"""
This is a comment
"""
#This is a comment to 
print("Sufuk is the best")

Sufuk is the best

_As you can see comments do not effect the program._

### Python Variables

In python variables created when you assign a value to it:

In [12]:
x = 22
y = "Sufuk"
print(x)
print(y)

22
Sufuk

Python has no command for declaring a variable.

Also you can change the variable type by reassigging it:

In [14]:
x = 32
print(x)
x = 'izmit'
print(x)

32
izmit

_Note_

A variable name cannot start with number

**Examples of Variables**

In [16]:
x, y, z, t = "ali", "catch", "the", "ball" 
print(x)
print(y)
print(z)
print(t)

ali
catch
the
ball

**Output Variables**

To combine a variable, Python uses the + character:

In [18]:
x = 'My Love'
print("Forgive me " + x)

Forgive me My Love

In [22]:
x = "Python" 
y = "rules"
z = x + y 
print(z)
a = 10
b = 15
c = a + b
print(c)

Pythonrules
25

**Global Variables**

If you create a function and create a variable inside that function that variable is called local variable.
And cannot be used outside of that function
But if you created a variable in main code that called global variable and canb e used in everywhere.

In [24]:
x = " is the best "

def my_func():
    print("Sufuk" + x)
    
my_func()

Sufuk is the best

In [27]:
x = " is the best "

def my_func():
    x = " is the worst" 
    print("Sufuk" + x)
    
my_func()
print(x)

Sufuk is the worst
 is the best

But if you use global keyword before assiging a variable it is always global:

In [28]:
x = " is the best "

def my_func():
    global x
    x = " is the worst" 
    print("Sufuk" + x)
    
my_func()
print(x)

Sufuk is the worst
 is the worst

## Python Data Types

Text Type:	str

Numeric Types:	int, float, complex

Sequence Types:	list, tuple, range

Mapping Type:	dict

Set Types:	set, frozenset

Boolean Type:	bool

Binary Types:	bytes, bytearray, memoryview

You can use the type() function to learn type of data.

In [29]:
x = 10
print(type(x))
y = "Sufuk"
print(type(y))

<class 'int'>
<class 'str'>

If you really want to specify to data Types you use following constructor functions.

x = str("Hello World")	str	
x = int(20)	int	
x = float(20.5)	float	
x = complex(1j)	complex	
x = list(("apple", "banana", "cherry"))	list	
x = tuple(("apple", "banana", "cherry"))	tuple	
x = range(6)	range	
x = dict(name="John", age=36)	dict	
x = set(("apple", "banana", "cherry"))	set	
x = frozenset(("apple", "banana", "cherry"))	frozenset	
x = bool(5)	bool	
x = bytes(5)	bytes	
x = bytearray(5)	bytearray	
x = memoryview(bytes(5))	memoryview

### Python Numbers

Integer(int)

In [31]:
x = 1
y = 49345135059539345
z = -423423424

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

Floating Point Number(float)

In [33]:
x = 1.2
y = 3.0
z = -33.6
t = 23e4
k = 23E3
l = -92.4e100
print(type(x))
print(type(y))
print(type(z))
print(type(t))
print(type(k))
print(type(l))

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

Complex(complex)

In [35]:
x = 2 + 3j
y = 11j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

Conversion Between Data Types

In [37]:
x = 2.65

a = int(x)

print(a)
print(type(a))

2
<class 'int'>

In [44]:
x = int(1)
y = int(2.7)
z = int("4")
print(x, y, z)

1 2 4

### Random Number

In [43]:
#you must import the random module
import random
print(random.randrange(1, 10))

7

### Strings

In [49]:
print("Hello")
print('Hello')
a = "Hello"
b = 'Hello'
print(a)
print(b)

Hello
Hello
Hello
Hello

Multiline Stirngs:

In [47]:
a = """What is better
to be born good or
over come your evil nature 
through great effort ? """
print(a)

What is better
to be born good or
over come your evil nature
through great effort ?

Strings are arrays of chars in python like many other languages.

In [51]:
a = "Sufuk"
print(a[2])

f

Slicing Strings:

In [55]:
a = "sufuk guler"
print(a[6:11])

guler

In [62]:
b = "sufuk"
print(b[-4:-1])

ufu

String Length

In [63]:
a = "sufuk"
print(len(a))

5

Sting Funcions:

In [66]:
#lower returns string in lower case
a = "Sufuk Guler"
print(a.lower())

sufuk guler

In [67]:
#upper() does vice versa
a = "sUFUK"
print(a.upper())

SUFUK

In [68]:
# replace() replaces the string with given another
a = "Sufuk"
print(a.replace("u", "a"))

Safak

In [70]:
a = "Sufuk, Guler"
print(a.split(",")) # returns ['Sufuj', ' Guler']

['Sufuk', ' Guler']

Check string: (in, not in)
we can use to check given string is in another string.

In [73]:
a = '''I have two number nine, 
a number nine large,
a number six with extra dip
two number forty five one with chesee,
and a large soda '''
x = "soda" in a
print(x)

True

In [74]:
a = '''I have two number nine, 
a number nine large,
a number six with extra dip
two number forty five one with chesee,
and a large soda '''
x = "soda" not in a
print(x)

False

Concatenation and Format

In [75]:
a = "hello"
b = "world"
c = a + b 
print(c)

helloworld

In [76]:
# if you wanna add space between them add a " " space like that
a = "hello"
b = "world"
c = a + " " + b 
print(c)

hello world

In [78]:
#you know we cant combine strings and other data types directly
#but there is a way for that call format() method

The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:

In [79]:
x = 20
y = "My name is Sufuk, and I am {} years old"
print(y.format(x))

My name is Sufuk, and I am 20 years old

In [81]:
age1 = 57
age2 = 50
age3 = 20
mystring = "I am {} years old, my pa {}, years old, and my ma {} years old"
print(mystring.format(age3, age1, age2))

I am 20 years old, my pa 57, years old, and my ma 50 years old

In [82]:
number1 = 1
number2 = 2
mystring = "Least positivei integer is {1} , and least prime number is {0} "
print(mystring.format(number2, number1))

Least positivei integer is 1 , and least prime number is 2

#### Escape Characters

\'	Single Quote	
\\	Backslash	
\n	New Line	
\r	Carriage Return	
\t	Tab	
\b	Backspace	
\f	Form Feed	
\ooo	Octal value	
\xhh	Hex value

For example if you use " or ' in your string youll get an error: like this:

In [91]:
a = "We are the sons and daughters of "skyrim" "
print(a)

SyntaxError: invalid syntax (<ipython-input-91-73c8df7d0847>, line 1)

To prevent this kind of errors we use escape characters:

In [92]:
a = "We are the sons and daughters of \"skyrim\" "
print(a)

We are the sons and daughters of "skyrim"

Other Methods for Strings:

In [94]:
#capitalize()	Converts the first character to upper case
a = "sufuk"
print(a.capitalize())

Sufuk

In [99]:
# casefold()	Converts string into lower case
a = "SuFuK GuLeR"
print(a.casefold())

sufuk guler

In [103]:
# center()	Returns a centered string
a = "Sufuk Guler"
print(a.center(100))

                                            Sufuk Guler

In [104]:
# count()	Returns the number of times a specified value occurs in a string
a = '''I have two number nine, 
a number nine large,
a number six with extra dip
two number forty five one with chesee,
and a large soda '''
print(a.count("number"))

4

In [105]:
# encode()	Returns an encoded version of the string
txt = "My name is Ståle"

x = txt.encode()

print(x)

b'My name is St\xc3\xa5le'

In [107]:
# endswith()	Returns true if the string ends with the specified value
a = "sufuk"
print(a.endswith("k"))

True

In [109]:
# expandtabs()	Sets the tab size of the string
a = "s\tu\tf\tu\tk"

x =  a.expandtabs(4)

print(x)

s   u   f   u   k

In [110]:
# find()	Searches the string for a specified value and returns the position of where it was found

a = "12345678"
print(a.find("2"))

1

In [111]:
# index()	Searches the string for a specified value and returns the position of where it was found
a = "012345678"
print(a.index("3"))

3

Difference between find and index is str.find returns -1 when it does not find the substring.
While str.index raises ValueError:

In [112]:
a = "12345678"
print(a.find("9"))

-1

In [113]:
a = "12345678"
print(a.index("9"))

ValueError: substring not found

As u can see above

- capitalize()	Converts the first character to upper case
- casefold()	Converts string into lower case
- center()	Returns a centered string
- count()	Returns the number of times a specified value occurs in a string
- encode()	Returns an encoded version of the string
- endswith()	Returns true if the string ends with the specified value
- expandtabs()	Sets the tab size of the string
- find()	Searches the string for a specified value and returns the position of where it was found
- format()	Formats specified values in a string
- format_map()	Formats specified values in a string
- index()	Searches the string for a specified value and returns the position of where it was found
- isalnum()	Returns True if all characters in the string are alphanumeric
- isalpha()	Returns True if all characters in the string are in the alphabet
- isdecimal()	Returns True if all characters in the string are decimals
- isdigit()	Returns True if all characters in the string are digits
- isidentifier()	Returns True if the string is an identifier
- islower()	Returns True if all characters in the string are lower case
- isnumeric()	Returns True if all characters in the string are numeric
- isprintable()	Returns True if all characters in the string are printable
- isspace()	Returns True if all characters in the string are whitespaces
- istitle()	Returns True if the string follows the rules of a title
- isupper()	Returns True if all characters in the string are upper case
- join()	Joins the elements of an iterable to the end of the string
- ljust()	Returns a left justified version of the string
- lower()	Converts a string into lower case
- lstrip()	Returns a left trim version of the string
- maketrans()	Returns a translation table to be used in translations
- partition()	Returns a tuple where the string is parted into three parts
- replace()	Returns a string where a specified value is replaced with a specified value
- rfind()	Searches the string for a specified value and returns the last position of where it was found
- rindex()	Searches the string for a specified value and returns the last position of where it was found
- rjust()	Returns a right justified version of the string
- rpartition()	Returns a tuple where the string is parted into three parts
- rsplit()	Splits the string at the specified separator, and returns a list
- rstrip()	Returns a right trim version of the string
- split()	Splits the string at the specified separator, and returns a list
- splitlines()	Splits the string at line breaks and returns a list
- startswith()	Returns true if the string starts with the specified value
- strip()	Returns a trimmed version of the string
- swapcase()	Swaps cases, lower case becomes upper case and vice versa
- title()	Converts the first character of each word to upper case
- translate()	Returns a translated string
- upper()	Converts a string into upper case
- zfill()	Fills the string with a specified number of 0 values at the beginning

### Boolen Python

In [115]:
print(3 < 2)
print(3 == 1)
print(3 > 2)

False
False
True

İf else statements also run on boolen expressions

In [116]:
a = 10
b = 20

if b < a:
    print("b is less then a")
else:
    print("b is greater then a")

b is greater then a

In [118]:
# bool() func gives you the oppurtinity to evalue thr stament or value is true or false
print(bool("sufuk"))
print(bool(22))

True
True

- Almost any value is evaluated to True if it has some sort of content.

- Any string is True, except empty strings.

- Any number is True, except 0.

- Any list, tuple, set, and dictionary are True, except empty ones.

#### Python Operators

# Python Arithmetic Operators

- \+	Addition	x + y	
- \-	Subtraction	x - y	
- \*	Multiplication	x * y	
- /	Division	x / y	
- %	Modulus	x % y	
- **	Exponentiation	x ** y	
- //	Floor division	x // y

## # Python Assignment Operators

=	x = 5	x = 5	
+=	x += 3	x = x + 3	
-=	x -= 3	x = x - 3	
*=	x *= 3	x = x * 3	
/=	x /= 3	x = x / 3	
%=	x %= 3	x = x % 3	
//=	x //= 3	x = x // 3	
**=	x **= 3	x = x ** 3	
&=	x &= 3	x = x & 3	
|=	x |= 3	x = x | 3	
^=	x ^= 3	x = x ^ 3	
>>=	x >>= 3	x = x >> 3	
<<=	x <<= 3	x = x << 3

==	Equal	x == y	
!=	Not equal	x != y	
>	Greater than	x > y	
<	Less than	x < y	
>=	Greater than or equal to	x >= y	
<=	Less than or equal to	x <= y

and 	Returns True if both statements are true	x < 5 and  x < 10	
or	Returns True if one of the statements is true	x < 5 or x < 4	
not	Reverse the result, returns False if the result is true	not(x < 5 and x < 10

#### Python Identity Operators

is 	Returns True if both variables are the same object	x is y	
is not	Returns True if both variables are not the same object	x is not y

#### Python Membership Operators

in 	Returns True if a sequence with the specified value is present in the object	x in y	
not in	Returns True if a sequence with the specified value is not present in the object	x not in y

#### Python Bitwise Operators

& 	AND	Sets each bit to 1 if both bits are 1
|	OR	Sets each bit to 1 if one of two bits is 1
 ^	XOR	Sets each bit to 1 if only one of two bits is 1
~ 	NOT	Inverts all the bits
<<	Zero fill left shift	Shift left by pushing zeros in from the right and let the leftmost bits fall off
>>	Signed right shift	Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off

#### Lists

- List is a collection which is ordered and changeable. Allows duplicate members.
- Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
- Set is a collection which is unordered and unindexed. No duplicate members.
- Dictionary is a collection which is unordered, changeable and indexed. No duplicate members.

In [7]:
my_list = ["semih", "ufuk", "güler"]
print(my_list)
print(my_list[1])
print(my_list[-1])
print(my_list[0:2])
print(my_list[:1])
print(my_list[-3:-1])
my_list[2] = "dogan"
print(my_list)

['semih', 'ufuk', 'güler']
ufuk
güler
['semih', 'ufuk']
['semih']
['semih', 'ufuk']
['semih', 'ufuk', 'dogan']

In [12]:
my_list = ["semih", "ufuk", "guler"]
for x in my_list:
  print(x)

semih
ufuk
guler

In [14]:
my_list = ["semih", "ufuk", "guler"]
if "ufuk" in my_list:
    print("sufuk rulles")

print(len(my_list))

sufuk rulles
3

In [16]:
#To add an item to the end of the list, use the append() method:
my_list = ["semih", "ufuk", "guler"]
my_list.append("dogan")
print(my_list)

['semih', 'ufuk', 'guler', 'dogan']

In [19]:
#To add an item at the specified index, use the insert() method:
my_list = ["semih", "ufuk", "guler"]
my_list.insert(0, "Doctor")
print(my_list)

['Doctor', 'semih', 'ufuk', 'guler']

In [20]:
#The remove() method removes the specified item:
my_list = ["semih", "ufuk", "guler"]
my_list.remove("semih")
print(my_list)

['ufuk', 'guler']

In [22]:
#The pop() method removes the specified index, (or the last item if index is not specified):

my_list = ["semih", "ufuk", "guler"]
my_list.pop(1)
print(my_list)

['semih', 'guler']

In [23]:
# The del keyword removes the specified index:

my_list = ["semih", "ufuk", "guler"]
del my_list[1]
print(my_list)

['semih', 'guler']

In [24]:
#The del keyword can also delete the list completely:
my_list = ["semih", "ufuk", "guler"]
del my_list
print(my_list)

NameError: name 'my_list' is not defined

As you can see this givest an error because del removed list completly

In [25]:
# The clear() method empties the list:
my_list = ["semih", "ufuk", "guler"]
my_list.clear()
print(my_list)

[]

You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.
There are ways to make a copy, one way is to use the built-in List method copy().

In [26]:
my_list = ["semih", "ufuk", "guler"]
my_list1 = my_list.copy()
print(my_list1)

['semih', 'ufuk', 'guler']

In [28]:
#Another way to make a copy is to use the built-in method list().
my_list = ["semih", "ufuk", "guler"]
my_list1 = list(my_list)
print(my_list1)

['semih', 'ufuk', 'guler']

Concreating Lists

In [1]:
# + operator:
my_list0 = ["1", "2", "3"]
my_list1 = ["4", "5", "6"]
my_list2 = my_list0 + my_list1
print(my_list2)

['1', '2', '3', '4', '5', '6']

In [2]:
my_list0 = ["a", "b" , "c"]
my_list1 = [1, 2, 3]

for x in my_list1:
  my_list0.append(x)

print(my_list0)

['a', 'b', 'c', 1, 2, 3]

In [3]:
my_list0 = ["1", "2", "3"]
my_list1 = ["4", "5", "6"]
my_list0.extend(my_list1)
print(my_list0)

['1', '2', '3', '4', '5', '6']

In [4]:
my_list = list(("semih", "ufuk", "gler")) # note the double round-brackets
print(my_list)

['semih', 'ufuk', 'gler']

LIST METHODS:
- append()	Adds an element at the end of the list
- clear()	Removes all the elements from the list
- copy()	Returns a copy of the list
- count()	Returns the number of elements with the specified value
- extend()	Add the elements of a list (or any iterable), to the end of the current list
- index()	Returns the index of the first element with the specified value
- insert()	Adds an element at the specified position
- pop()	Removes the element at the specified position
- remove()	Removes the item with the specified value
- reverse()	Reverses the order of the list
- sort()	Sorts the list

#### Tuples

A tuple is a collection which is ordered and unchangeable. In Python tuples are written with round brackets.

In [5]:
my_tuple = ("doctor", "coskun", "guler")
print(my_tuple)

('doctor', 'coskun', 'guler')

In [6]:
my_tuple = ("doctor", "coskun", "guler")
print(my_tuple[1])

coskun

Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [7]:
x = ("colonel", "eren", "ozgen")
y = list(x)
y[1] = "adil"
x = tuple(y)

print(x)

('colonel', 'adil', 'ozgen')

In [9]:
a = ("isil", "nil", "guler")
for x in a:
    print(x)

isil
nil
guler

In [10]:
#Once a tuple is created, you cannot add items to it. Tuples are unchangeable.
a = ("seimh", "ufuk", "guler")
a[3] = "dogan" 
print(a)

TypeError: 'tuple' object does not support item assignment

In [11]:
# To create a tuple with only one item, you have to add 
# a comma after the item, otherwise Python will not recognize it as a tuple.
a = ("sufuk",)
print(type(a))

#NOT a tuple
b = ("sufuk")
print(type(b))

<class 'tuple'>
<class 'str'>

In [12]:
# Tuples are unchangeable, so you cannot remove items from it, but you can delete the tuple completely:

a = ("senih", "ufuk", "guler")
del a

In [14]:
# join two tuples
tuple0 = ("1", "2" , "3")
tuple1 = (4, 5, 6)

tuple2 = tuple0 + tuple1
print(tuple2)

('1', '2', '3', 4, 5, 6)

In [15]:
tuple0 = tuple(("sufuk", "eren", "erdem")) # note the double round-brackets
print(tuple0)

('sufuk', 'eren', 'erdem')

##### Sets

A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.

In [18]:
a = {"semih", "ufuk", "guler"}
print(a)

{'ufuk', 'semih', 'guler'}

You cannot access items in a set by referring to an index,
since sets are unordered the items has no index.
But you can loop through the set items using a for loop, 
or ask if a specified value is present in a set, by using the in keyword.

In [22]:
a = {"semih", "ufuk", "guler"}
for x in a:
    print(x)

ufuk
semih
guler

In [23]:
a = {"semih", "ufuk"}
print("ufuk" in a)

True

In [25]:
#Once a set is created, you cannot change its items, but you can add new items.
#To add one item to a set use the add() method.
#To add more than one item to a set use the update() method.
a = {"ufuk", "guler"}
a.add("semih")
print(a)
a.update(["prof", "doctor"])
print(a)

{'ufuk', 'guler', 'semih'}
{'prof', 'doctor', 'semih', 'ufuk', 'guler'}

In [26]:
a = {"ufuk", "guler"}
a.remove("ufuk")
print(a)
# Note: If the item to remove does not exist, remove() will raise an error.

{'guler'}

In [28]:
a = {"ufuk", "guler"}
a.discard("ufuk")
print(a)
#Note: If the item to remove does not exist, discard() will NOT raise an error.

{'guler'}

You can also use the pop(), method to remove an item, but this method will remove the last item. Remember that sets are unordered, so you will not know what item that gets removed.

The return value of the pop() method is the removed item.
Note: Sets are unordered, so when using the pop() method, you will not know which item that gets removed.

In [30]:
# Remove the last item by using the pop() method:
a = {"semih", "ufuk", "guler"}
b = a.pop()
print(b)
print(a)

ufuk
{'semih', 'guler'}

In [33]:
a = {"ufuk", "guler"}
a.clear()
print(a)

set()

There are several ways to join two or more sets in Python.

You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:

In [35]:
set0 = {"1", "2" , "3"}
set1 = {4, 5, 6}

set2 = set0.union(set1)
print(set2)

{'1', '2', 4, '3', 5, 6}

In [36]:
set0 = {"1", "2" , "3"}
set1 = {4, 5, 6}

set0.update(set1)
print(set0)

{'1', '2', 4, '3', 5, 6}

In [37]:
a = set(("semih", "ufuk", "guler")) # note the double round-brackets
print(a)

{'ufuk', 'semih', 'guler'}

Set Methods
- add()	Adds an element to the set
- clear()	Removes all the elements from the set
- copy()	Returns a copy of the set
- difference()	Returns a set containing the difference between two or more sets
- difference_update()	Removes the items in this set that are also included in another, specified set
- discard()	Remove the specified item
- intersection()	Returns a set, that is the intersection of two other sets
- intersection_update()	Removes the items in this set that are not present in other, specified set(s)
- isdisjoint()	Returns whether two sets have a intersection or not
- issubset()	Returns whether another set contains this set or not
- issuperset()	Returns whether this set contains another set or not
- pop()	Removes an element from the set
- remove()	Removes the specified element
- symmetric_difference()	Returns a set with the symmetric differences of two sets
- symmetric_difference_update()	inserts the symmetric differences from this set and another
- union()	Return a set containing the union of sets
- update()	Update the set with the union of this set and others

##### Python Dictionaries

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [1]:
a = {
  "name": "sufuk",
  "branch": "ee",
  "age": 20
}
print(a)

{'name': 'sufuk', 'branch': 'ee', 'age': 20}

In [2]:
a = {
  "name": "sufuk",
  "branch": "ee",
  "age": 20
}
x = a["name"]
print(x)

sufuk

In [3]:
a = {
  "name": "sufuk",
  "branch": "ee",
  "age": 20
}
x = a.get("name")
print(x)

sufuk

In [4]:
a = {
  "name": "sufuk",
  "branch": "ee",
  "age": 20
}
a["name"] = "semih"
print(a)

{'name': 'semih', 'branch': 'ee', 'age': 20}

In [5]:
a = {
  "name": "sufuk",
  "branch": "ee",
  "age": 20
}
for x in a:
    print(x)

name
branch
age

In [6]:
a = {
  "name": "sufuk",
  "branch": "ee",
  "age": 20
}
for x in a:
    print(a[x])

sufuk
ee
20

In [7]:
a = {
  "name": "sufuk",
  "branch": "ee",
  "age": 20
}
for x in a.values():
    print(x)

sufuk
ee
20

In [8]:
a = {
  "name": "sufuk",
  "branch": "ee",
  "age": 20
}
for x, y  in a.items():
    print(x, y)

name sufuk
branch ee
age 20

In [10]:
a = {
  "name": "sufuk",
  "branch": "ee",
  "age": 20
}
if "name" in a:
    print("yes")

yes

length of a dic:

In [11]:
a = {
  "name": "sufuk",
  "branch": "ee",
  "age": 20
}
print(len(a))

3

adding itesms to the dict:

In [12]:
a = {
  "name": "sufuk",
  "branch": "ee",
  "age": 20
}
a["place of birth"] = "kayseri"
print(a)

{'name': 'sufuk', 'branch': 'ee', 'age': 20, 'place of birth': 'kayseri'}

removing  items from dict:

In [13]:
a = {
  "name": "sufuk",
  "branch": "ee",
  "age": 20
}
a.pop("name")
print((a))

{'branch': 'ee', 'age': 20}

The popitem() method removes the last inserted item (in versions before 3.7, a random item is removed instead):

In [14]:
a = {
  "name": "sufuk",
  "branch": "ee",
  "age": 20
}
a.popitem()
print((a))

{'name': 'sufuk', 'branch': 'ee'}

The del keyword removes the item with the specified key name:

In [15]:
a = {
  "name": "sufuk",
  "branch": "ee",
  "age": 20
}
del a["name"]
print(a)

{'branch': 'ee', 'age': 20}

The del keyword can also delete the dictionary completely:

In [16]:
a = {
  "name": "sufuk",
  "branch": "ee",
  "age": 20
}
del a
print(a)

NameError: name 'a' is not defined

In [17]:
a = {
  "name": "sufuk",
  "branch": "ee",
  "age": 20
}
a.clear()
print(a)

{}

Copy a Dict

In [18]:
a = {
  "name": "sufuk",
  "branch": "ee",
  "age": 20
}
b = a.copy()
print(b)

{'name': 'sufuk', 'branch': 'ee', 'age': 20}

In [20]:
a = {
  "name": "sufuk",
  "branch": "ee",
  "age": 20
}
b = dict(a)
print(b)

{'name': 'sufuk', 'branch': 'ee', 'age': 20}

Nested Dicts

In [22]:
gulers = {
  "person0" : {
    "name" : "sufk",
    "year" : 2000
  },
  "person1" : {
    "name" : "nil",
    "year" : 2007
  },
  "person2" : {
    "name" : "coskun",
    "year" : 2011
  }
}
print(gulers)

{'person0': {'name': 'sufk', 'year': 2000}, 'person1': {'name': 'nil', 'year': 2007}, 'person2': {'name': 'coskun', 'year': 2011}}

In [31]:
person0 = {
    "namee" : "sufuk",
    "age" : 20
}

person1 = {
    "namee" : "erdem",
    "age" : 26
}

person2 = {
    "namee" : "eren",
    "age" : 30
}
community = {
    "person0" : person0,
    "person1" : person1,
    "person2" : person2
}
print(community)

{'person0': {'namee': 'sufuk', 'age': 20}, 'person1': {'namee': 'erdem', 'age': 26}, 'person2': {'namee': 'eren', 'age': 30}}

In [32]:
a = dict(name =)
# note that keywords are not string literals
# note the use of equals rather than colon for the assignment
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

- clear()	Removes all the elements from the dictionary
- copy()	Returns a copy of the dictionary
- fromkeys()	Returns a dictionary with the specified keys and value
- get()	Returns the value of the specified key
- items()	Returns a list containing a tuple for each key value pair
- keys()	Returns a list containing the dictionary's keys
- pop()	Removes the element with the specified key
- popitem()	Removes the last inserted key-value pair
- setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
- update()	Updates the dictionary with the specified key-value pairs
- values()	Returns a list of all the values in the dictionary