# WAY OF THE PYTHON

_Welcom to My first Jupyter Notebook!!
I will use this notebook as a learnig area so if you see
any crappy code you shitweasels can teach me or just learn 
to deal with it:)_

## Chapter 1: Getting Started

`print()` _prints the object in the standard output device_

In [1]:
print("Hello World")

Hello World

##### IMPORTANCE OF INDENTATION!!!

In [2]:
if 3 > 1:
    print("correct")

correct

In [7]:
if 3 > 1:
print("correct")

IndentationError: expected an indented block (<ipython-input-7-ecf1df837c45>, line 2)

_As you can see above indentation is very important in python.._

In [2]:
if 3 > 1:
    print("astrid")
        print("vex")

IndentationError: unexpected indent (<ipython-input-2-a527e833ce29>, line 3)

**You must use at least one space !!
All arguments must have same number of spaces at one code block**

##### COMMENTS

_You can use # and """ operators for commenting.
Comments is the important part of programming do 
not hesitate add comments to your code Ä± am not gonna use
so much in this notebook beacuse it is a  notebook
not a project._

In [6]:
"""
This is a comment
"""
#This is a comment to 
print("Sufuk is the best")

Sufuk is the best

_As you can see comments do not effect the program._

### Python Variables

In python variables created when you assign a value to it:

In [12]:
x = 22
y = "Sufuk"
print(x)
print(y)

22
Sufuk

Python has no command for declaring a variable.

Also you can change the variable type by reassigging it:

In [14]:
x = 32
print(x)
x = 'izmit'
print(x)

32
izmit

_Note_

A variable name cannot start with number

**Examples of Variables**

In [16]:
x, y, z, t = "ali", "catch", "the", "ball" 
print(x)
print(y)
print(z)
print(t)

ali
catch
the
ball

**Output Variables**

To combine a variable, Python uses the + character:

In [18]:
x = 'My Love'
print("Forgive me " + x)

Forgive me My Love

In [22]:
x = "Python" 
y = "rules"
z = x + y 
print(z)
a = 10
b = 15
c = a + b
print(c)

Pythonrules
25

**Global Variables**

If you create a function and create a variable inside that function that variable is called local variable.
And cannot be used outside of that function
But if you created a variable in main code that called global variable and canb e used in everywhere.

In [24]:
x = " is the best "

def my_func():
    print("Sufuk" + x)
    
my_func()

Sufuk is the best

In [27]:
x = " is the best "

def my_func():
    x = " is the worst" 
    print("Sufuk" + x)
    
my_func()
print(x)

Sufuk is the worst
 is the best

But if you use global keyword before assiging a variable it is always global:

In [28]:
x = " is the best "

def my_func():
    global x
    x = " is the worst" 
    print("Sufuk" + x)
    
my_func()
print(x)

Sufuk is the worst
 is the worst

## Python Data Types

Text Type:	str

Numeric Types:	int, float, complex

Sequence Types:	list, tuple, range

Mapping Type:	dict

Set Types:	set, frozenset

Boolean Type:	bool

Binary Types:	bytes, bytearray, memoryview

You can use the type() function to learn type of data.

In [29]:
x = 10
print(type(x))
y = "Sufuk"
print(type(y))

<class 'int'>
<class 'str'>

If you really want to specify to data Types you use following constructor functions.

x = str("Hello World")	str	
x = int(20)	int	
x = float(20.5)	float	
x = complex(1j)	complex	
x = list(("apple", "banana", "cherry"))	list	
x = tuple(("apple", "banana", "cherry"))	tuple	
x = range(6)	range	
x = dict(name="John", age=36)	dict	
x = set(("apple", "banana", "cherry"))	set	
x = frozenset(("apple", "banana", "cherry"))	frozenset	
x = bool(5)	bool	
x = bytes(5)	bytes	
x = bytearray(5)	bytearray	
x = memoryview(bytes(5))	memoryview

### Python Numbers

Integer(int)

In [31]:
x = 1
y = 49345135059539345
z = -423423424

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

Floating Point Number(float)

In [33]:
x = 1.2
y = 3.0
z = -33.6
t = 23e4
k = 23E3
l = -92.4e100
print(type(x))
print(type(y))
print(type(z))
print(type(t))
print(type(k))
print(type(l))

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

Complex(complex)

In [35]:
x = 2 + 3j
y = 11j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

Conversion Between Data Types

In [37]:
x = 2.65

a = int(x)

print(a)
print(type(a))

2
<class 'int'>

In [44]:
x = int(1)
y = int(2.7)
z = int("4")
print(x, y, z)

1 2 4

### Random Number

In [43]:
#you must import the random module
import random
print(random.randrange(1, 10))

7

### Strings

In [49]:
print("Hello")
print('Hello')
a = "Hello"
b = 'Hello'
print(a)
print(b)

Hello
Hello
Hello
Hello

Multiline Stirngs:

In [47]:
a = """What is better
to be born good or
over come your evil nature 
through great effort ? """
print(a)

What is better
to be born good or
over come your evil nature
through great effort ?

Strings are arrays of chars in python like many other languages.

In [51]:
a = "Sufuk"
print(a[2])

f

Slicing Strings:

In [55]:
a = "sufuk guler"
print(a[6:11])

guler

In [62]:
b = "sufuk"
print(b[-4:-1])

ufu

String Length

In [63]:
a = "sufuk"
print(len(a))

5

Sting Funcions:

In [66]:
#lower returns string in lower case
a = "Sufuk Guler"
print(a.lower())

sufuk guler

In [67]:
#upper() does vice versa
a = "sUFUK"
print(a.upper())

SUFUK

In [68]:
# replace() replaces the string with given another
a = "Sufuk"
print(a.replace("u", "a"))

Safak

In [70]:
a = "Sufuk, Guler"
print(a.split(",")) # returns ['Sufuj', ' Guler']

['Sufuk', ' Guler']

Check string: (in, not in)
we can use to check given string is in another string.

In [73]:
a = '''I have two number nine, 
a number nine large,
a number six with extra dip
two number forty five one with chesee,
and a large soda '''
x = "soda" in a
print(x)

True

In [74]:
a = '''I have two number nine, 
a number nine large,
a number six with extra dip
two number forty five one with chesee,
and a large soda '''
x = "soda" not in a
print(x)

False

Concatenation and Format

In [75]:
a = "hello"
b = "world"
c = a + b 
print(c)

helloworld

In [76]:
# if you wanna add space between them add a " " space like that
a = "hello"
b = "world"
c = a + " " + b 
print(c)

hello world

In [78]:
#you know we cant combine strings and other data types directly
#but there is a way for that call format() method

The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:

In [79]:
x = 20
y = "My name is Sufuk, and I am {} years old"
print(y.format(x))

My name is Sufuk, and I am 20 years old

In [81]:
age1 = 57
age2 = 50
age3 = 20
mystring = "I am {} years old, my pa {}, years old, and my ma {} years old"
print(mystring.format(age3, age1, age2))

I am 20 years old, my pa 57, years old, and my ma 50 years old

In [82]:
number1 = 1
number2 = 2
mystring = "Least positivei integer is {1} , and least prime number is {0} "
print(mystring.format(number2, number1))

Least positivei integer is 1 , and least prime number is 2

#### Escape Characters

\'	Single Quote	
\\	Backslash	
\n	New Line	
\r	Carriage Return	
\t	Tab	
\b	Backspace	
\f	Form Feed	
\ooo	Octal value	
\xhh	Hex value

For example if you use " or ' in your string youll get an error: like this:

In [91]:
a = "We are the sons and daughters of "skyrim" "
print(a)

SyntaxError: invalid syntax (<ipython-input-91-73c8df7d0847>, line 1)

To prevent this kind of errors we use escape characters:

In [92]:
a = "We are the sons and daughters of \"skyrim\" "
print(a)

We are the sons and daughters of "skyrim"

Other Methods for Strings:

In [94]:
#capitalize()	Converts the first character to upper case
a = "sufuk"
print(a.capitalize())

Sufuk

In [99]:
# casefold()	Converts string into lower case
a = "SuFuK GuLeR"
print(a.casefold())

sufuk guler

In [103]:
# center()	Returns a centered string
a = "Sufuk Guler"
print(a.center(100))

                                            Sufuk Guler

In [104]:
# count()	Returns the number of times a specified value occurs in a string
a = '''I have two number nine, 
a number nine large,
a number six with extra dip
two number forty five one with chesee,
and a large soda '''
print(a.count("number"))

4

In [105]:
# encode()	Returns an encoded version of the string
txt = "My name is StÃ¥le"

x = txt.encode()

print(x)

b'My name is St\xc3\xa5le'

In [107]:
# endswith()	Returns true if the string ends with the specified value
a = "sufuk"
print(a.endswith("k"))

True

In [109]:
# expandtabs()	Sets the tab size of the string
a = "s\tu\tf\tu\tk"

x =  a.expandtabs(4)

print(x)

s   u   f   u   k

In [110]:
# find()	Searches the string for a specified value and returns the position of where it was found

a = "12345678"
print(a.find("2"))

1

In [111]:
# index()	Searches the string for a specified value and returns the position of where it was found
a = "012345678"
print(a.index("3"))

3

Difference between find and index is str.find returns -1 when it does not find the substring.
While str.index raises ValueError:

In [112]:
a = "12345678"
print(a.find("9"))

-1

In [113]:
a = "12345678"
print(a.index("9"))

ValueError: substring not found

As u can see above

- capitalize()	Converts the first character to upper case
- casefold()	Converts string into lower case
- center()	Returns a centered string
- count()	Returns the number of times a specified value occurs in a string
- encode()	Returns an encoded version of the string
- endswith()	Returns true if the string ends with the specified value
- expandtabs()	Sets the tab size of the string
- find()	Searches the string for a specified value and returns the position of where it was found
- format()	Formats specified values in a string
- format_map()	Formats specified values in a string
- index()	Searches the string for a specified value and returns the position of where it was found
- isalnum()	Returns True if all characters in the string are alphanumeric
- isalpha()	Returns True if all characters in the string are in the alphabet
- isdecimal()	Returns True if all characters in the string are decimals
- isdigit()	Returns True if all characters in the string are digits
- isidentifier()	Returns True if the string is an identifier
- islower()	Returns True if all characters in the string are lower case
- isnumeric()	Returns True if all characters in the string are numeric
- isprintable()	Returns True if all characters in the string are printable
- isspace()	Returns True if all characters in the string are whitespaces
- istitle()	Returns True if the string follows the rules of a title
- isupper()	Returns True if all characters in the string are upper case
- join()	Joins the elements of an iterable to the end of the string
- ljust()	Returns a left justified version of the string
- lower()	Converts a string into lower case
- lstrip()	Returns a left trim version of the string
- maketrans()	Returns a translation table to be used in translations
- partition()	Returns a tuple where the string is parted into three parts
- replace()	Returns a string where a specified value is replaced with a specified value
- rfind()	Searches the string for a specified value and returns the last position of where it was found
- rindex()	Searches the string for a specified value and returns the last position of where it was found
- rjust()	Returns a right justified version of the string
- rpartition()	Returns a tuple where the string is parted into three parts
- rsplit()	Splits the string at the specified separator, and returns a list
- rstrip()	Returns a right trim version of the string
- split()	Splits the string at the specified separator, and returns a list
- splitlines()	Splits the string at line breaks and returns a list
- startswith()	Returns true if the string starts with the specified value
- strip()	Returns a trimmed version of the string
- swapcase()	Swaps cases, lower case becomes upper case and vice versa
- title()	Converts the first character of each word to upper case
- translate()	Returns a translated string
- upper()	Converts a string into upper case
- zfill()	Fills the string with a specified number of 0 values at the beginning

### Boolen Python

In [115]:
print(3 < 2)
print(3 == 1)
print(3 > 2)

False
False
True

Ä°f else statements also run on boolen expressions

In [116]:
a = 10
b = 20

if b < a:
    print("b is less then a")
else:
    print("b is greater then a")

b is greater then a

In [118]:
# bool() func gives you the oppurtinity to evalue thr stament or value is true or false
print(bool("sufuk"))
print(bool(22))

True
True

- Almost any value is evaluated to True if it has some sort of content.

- Any string is True, except empty strings.

- Any number is True, except 0.

- Any list, tuple, set, and dictionary are True, except empty ones.

#### Python Operators

# Python Arithmetic Operators

- \+	Addition	x + y	
- \-	Subtraction	x - y	
- \*	Multiplication	x * y	
- /	Division	x / y	
- %	Modulus	x % y	
- **	Exponentiation	x ** y	
- //	Floor division	x // y

## # Python Assignment Operators

=	x = 5	x = 5	
+=	x += 3	x = x + 3	
-=	x -= 3	x = x - 3	
*=	x *= 3	x = x * 3	
/=	x /= 3	x = x / 3	
%=	x %= 3	x = x % 3	
//=	x //= 3	x = x // 3	
**=	x **= 3	x = x ** 3	
&=	x &= 3	x = x & 3	
|=	x |= 3	x = x | 3	
^=	x ^= 3	x = x ^ 3	
>>=	x >>= 3	x = x >> 3	
<<=	x <<= 3	x = x << 3

==	Equal	x == y	
!=	Not equal	x != y	
>	Greater than	x > y	
<	Less than	x < y	
>=	Greater than or equal to	x >= y	
<=	Less than or equal to	x <= y

and 	Returns True if both statements are true	x < 5 and  x < 10	
or	Returns True if one of the statements is true	x < 5 or x < 4	
not	Reverse the result, returns False if the result is true	not(x < 5 and x < 10

#### Python Identity Operators

is 	Returns True if both variables are the same object	x is y	
is not	Returns True if both variables are not the same object	x is not y

#### Python Membership Operators

in 	Returns True if a sequence with the specified value is present in the object	x in y	
not in	Returns True if a sequence with the specified value is not present in the object	x not in y

#### Python Bitwise Operators

& 	AND	Sets each bit to 1 if both bits are 1
|	OR	Sets each bit to 1 if one of two bits is 1
 ^	XOR	Sets each bit to 1 if only one of two bits is 1
~ 	NOT	Inverts all the bits
<<	Zero fill left shift	Shift left by pushing zeros in from the right and let the leftmost bits fall off
>>	Signed right shift	Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off